body{
  background-image: url("../images/you.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}
h1, h2, h3{
  color: blue; font-style: normal;
  text-align: center
}
p{
  color: #000;
}
.doc{
  font-size: 55px;
   font-family: 'Lobster', cursive;
}
.buy{
  color:black; font-size: 65px
}
.you{



}
.me{
  margin-left: 20%;
  margin-top: 50%;
}
.turn{
  color:black; font-size: 65px
}
