h1{
  color: blue; font-style: normal;
  text-align: center
}
.doc{
  font-size: 90px;
   font-family: 'Lobster', cursive;
}
.buy{
  color:black; font-size: 65px
}
.you{
  background-image: url("../images/you.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  color: #fff; font-style: italic; font-size: 26px

}
.me{
  margin-left: 15%;
}
.turn{
  color:black; font-size: 65px
}
